.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    
}

.listItem{
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 5px 50px var(--corSecundaria);
}

.itemName b, .itemLanguage b{
    margin-right: 8px;
}

.itemName{

}

.itemLanguage{

}

.itemLink{
    display: block;
    background-color:var(--corSecundaria) ;
    color: var(--corTerciaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
}

.inputName{
    color: aqua;
}

.erro{
    background-color: black;
}